<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Exemplo de Chat</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript">
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyAb9Kk7VJatmASdbTRA34TTerFSNFrX_As",
	    authDomain: "camim-496a6.firebaseapp.com",
	    databaseURL: "https://camim-496a6.firebaseio.com",
	    storageBucket: "camim-496a6.appspot.com",
	    messagingSenderId: "119986793064"
	  };
	  firebase.initializeApp(config);

	  var database = firebase.database().ref();

	  var app = angular.module("app", []);

	  app.controller("ChatController", function($scope) {
		  $scope.chats = [];
		  $scope.currentPosto = null;
		  $scope.physicians = [];
		  $scope.observer = null;
		  $scope.message = "";
		  $scope.hasToApply = true;
		  $scope.obsPhysician = null;
		  $scope.refPhysician = null;
		  $scope.currentPhysician = null;

		  $scope.refPosto = function() {
		  	if ($scope.currentPosto != null) {
		  	  return database.child($scope.currentPosto);
		  	}
		  	return null;
		  }

		  $scope.removeObserverPosto = function() {
		  	if ($scope.observer != null && $scope.refPosto() != null) {
	  			$scope.refPosto().child("physicians").off($scope.observer);
	  			$scope.observer = null;
	  		}
		  }

		  $scope.removeObserverChat = function() {
		  	if ($scope.obsPhysician != null && $scope.refPhysician != null) {
	  			$scope.refPhysician.off("child_added");
	  			$scope.obsPhysician = null;
	  		}		  	
		  }

		  $scope.changePosto = function(posto) {
		  	$scope.removeObserverChat();
		  	$scope.removeObserverPosto();
	  		$scope.currentPosto = posto;
			$scope.physicians = [];
	  		$scope.chats = [];
	  		$scope.observer = $scope.refPosto().child("physicians").on("child_added", function(snap) {
	  			var id = snap.key;
	  			var physician = snap.val();
	  			$scope.addPhysician(id, physician);
	  		});
		  }

		  $scope.addPhysician = function(id, item) {
	  		$scope.$apply(function() {
	  			item.id = id;
  				$scope.physicians.push(item);
  			});
		  }

		  $scope.openChat= function(physician) {
		  	$scope.removeObserverChat();
	  		$scope.chats = [];
			$scope.currentPhysician = physician;
	  		$scope.refPhysician = $scope.refPosto().child("chats").child(physician.id);
	  		$scope.obsPhysician = $scope.refPhysician.on('child_added', function(snap) {
	  			$scope.addChat(snap.val())
	  		});
		  }

		  $scope.addChat = function(chat) {
		  	if (!$scope.hasToApply) {
		  		$scope.hasToApply = true;
  				$scope.chats.push(chat);
  			}
  			else {
  				$scope.$apply(function() {
  					$scope.chats.push(chat);
  				});
  			}
		  }

		  $scope.sendMessage = function() {
		  	$scope.hasToApply = false;
		  	var obj = {
		  		"sender" : $scope.currentPhysician.name,
		  		"message" : $scope.message,
		  		"isPatient" : false,
		  		"sentDate" : $scope.currentTime()
		  	}
		  	var key = "message_" + $scope.chats.length
		  	$scope.refPhysician.child(key).set(obj);
		  	$scope.message = "";
		  }

		  $scope.currentTime = function() {
			var dateObj = new Date();

			var day = twoPlaces(dateObj.getDate());
			var month = twoPlaces(dateObj.getMonth());
			var year = dateObj.getFullYear();
    		var hour= twoPlaces(dateObj.getHours());
			var min = twoPlaces(dateObj.getMinutes());
    		var sec= twoPlaces(dateObj.getSeconds());
			return year + "-" + month + "-" + day + "-" + hour + "-" + min + "-" + sec	
		  }
		  $scope.changePosto("anchieta");
	  });

	  function twoPlaces(value) {
		  return parseFloat(value) < 10 ? "0" + value : value;
	  }
	</script>
	<style>
		body {
			margin:2em auto;
			width:960px;
		}
		.bubble {
			padding:0.5em;
			margin-bottom:0.5em;
		}
		.bubble span {
			padding:0.5em;
			border-radius: 5px;
		}

		.cssOther .bubble span {
			background: #ddd;
		}

		.cssMe .bubble {
			text-align: right;
		}

		.cssMe .bubble span {
			background: #00AA00;
			color:#fff;
		}
	</style>
</head>
<body>
	<div ng-controller="ChatController" id="chatController">
		<div class="row">
			<div class="col-lg-6">
					<ul class="list">
						<li ng-repeat="physician in physicians">
							<a href="javascript:void(0)" ng-click="openChat(physician)">{{physician.name}}</a><br />
							<small>{{physician.specialty}}</small>
						</li>
					</ul>	
			</div>
			<div class="col-lg-6">	
				<div ng-show="currentPhysician != null">
					<h3>Nome: {{currentPhysician.name}}</h3>

					<div ng-repeat="chat in chats" class="listChat {{chat.isPatient ? 'cssOther' : 'cssMe'}}" >
						<div ng-show="chat.isPatient">
							{{chat.sender}} disse:
						</div>
						<div class="bubble">
							<span>
							{{chat.message}}
							</span>
						</div>
					</div>

					<div>
						<textarea rows="2" style="width:100%" placeholder="Entre com a mensagem" ng-model="message"></textarea><br />
						<button type="button" ng-click="sendMessage()">Enviar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>